*{

    margin: 0;
    padding: 0;

}

body{
    background: rgb(171, 247, 252);
}

p{
    text-align: justify;
    font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

hr{
    border: 5px solid rgb(255, 0, 0);
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

a{
    text-decoration: none !important;
    font-size: 25px !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    margin-right: 15px !important;
    

}
a:hover{
    color: black!important;
}
ping-pong{ 
    display: flex !important;
    margin-left: 420px;
}

.lineanav{
    border-right: 3px outset rgb(0, 0, 0) !important;
    padding-right: 20px !important;
}




.navbar-toggler{
    color: rgb(151, 151, 151);
    background-color: rgb(255, 255, 255);
}

#h1l1{
    margin-top: 5%;
    font-size: 100px;
}
.pl1{
    margin-left: 170px;
    margin-right: 170px;
}
#l1, #l2, #l3, #l4, #l5, #l6{
    color: white;
    font-size: 1px;
    margin-bottom: 150px;
}



.img{
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 600px;
    height: 500px;
    border-bottom: 5%;
    border-style: solid;
}

.img:hover{
    transform: scale(1.1);
    color: rgb(255, 0, 0);
}

#h2{
    font-size: 20px;
    padding-bottom: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#h2r{
    font-size: 30px;
    padding-bottom: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer{

    width: 200%;
}


